body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    width: 1240px;
    height: 650px;
    justify-content: center;
    margin: auto;
}

.half-width {
    width: 50%;
}

.top-banner {
    display: flex;
    background-color: rgba(22, 22, 22, 1);
    margin: 50px 0;
    border-radius: 10px;

}

.top-banner-information {
    display: flex;
    align-items: center;
    margin-left: 100px;

}

.top-banner-information h1 {
    font-size: 70px;
    font-weight: bold;
}

.top-banner-information p {
    font-size: 16px;

}

.heading {
    color: white;

}

.watch-live-btn {
    width: 187px;
    height: 56px;
    background-color: red;
    border-radius: 10px;
    margin-top: 25px;
}

.watch-live-btn a {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 550;
    text-decoration: none;

}

.fa-arrow-right {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.player img {
    width: 581px;
    height: 613px;
}

/*------------------
    main-section  
--------------------*/
.main-section {
    border: 1px solid black;
    background-color: black;
}

.match-group-blog button {
    display: block;
    height: 35px;
    width: 187px;
    background-color: white;
    margin: 25px;
    border-radius: 10px;
}

.match-group-blog button a {
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    padding: 30px;
    font-weight: bold;
    text-decoration: none;

}

.match-group-blog .blog {
    background-color: red;
}

.match-group-blog .blog a {
    color: white;
}