body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    width: 1440px;
    height: auto;
    justify-content: center;
    margin: auto;
}

.half-width {
    width: 50%;
}

.top-banner {
    display: flex;
    background-color: rgba(22, 22, 22, 1);
    margin: 50px 0;
    border-radius: 10px;

}

.top-banner-information {
    display: flex;
    align-items: center;
    margin-left: 100px;

}

.top-banner-information h1 {
    font-size: 70px;
    font-weight: bold;
}

.top-banner-information p {
    font-size: 16px;

}

.heading {
    color: white;

}

.watch-live-btn {
    width: 240px;
    height: 56px;
    background-color: red;
    border-radius: 5px;
    margin-top: 25px;
}

.watch-live-btn a {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 550;
    text-decoration: none;

}

.fa-arrow-right {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.player img {
    width: 581px;
    height: 613px;
}

/*------------------
    main-section  
--------------------*/
.main-section {
    display: flex;
    flex-direction: row;

}

.sub-section {
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    width: 25%;
    height: 210px;
}

.sub-section-2 {
    width: 100%;
}

.match-group-blog button {
    display: block;
    height: 35px;
    width: 187px;
    background-color: white;
    margin: 25px;
    border-radius: 5px;
}

.match-group-blog button a {
    color: black;
    padding: 30px;
    font-weight: bold;
    text-decoration: none;

}

.match-group-blog .blog {
    background-color: red;

}

.match-group-blog .blog a {
    color: white;
}

/* --------------
sub-section-2 
---------------*/
.sub-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-left: 15px;
    justify-items: center
}

.tournament {}

.transfer-button {
    border-radius: 5px;
}

.transfer-button a {
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 550;
    color: black;
}

.duration-massage span {
    font-size: 15px;
    margin: 5px;
}

/* ----------------
footer-section
---------------- */
footer {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    background-color: black;
    color: white;
    padding: 75px;
    margin: 50px 0px;
    justify-content: center;

}

.Goal {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;


}

hr {
    width: 100%;
    opacity: 0.2;
    margin-top: 35px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center
}

.menu {}

.menu ul {
    display: flex;
    font-size: 16px;
}

.menu ul li {
    list-style-type: none;
    padding: 25px;


}

.icon span {
    padding: 20px;
    font-size: 16px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.main-section {
    display: flex;
    justify-content: center;

}

.footer-social-icon {
    text-align: center;
    font-size: 30px;

}

.fa-twitter {
    padding: 0px 25px;
}